@charset "UTF-8";  
	  html,body{
            height: 100%;
            color:white;
            font-family:sans-serif;
        }
      
        a{

            color:whitesmoke;
            border:1px solid whitesmoke;
            border-radius:3px;
            padding:6px 16px;
            text-decoration:none;
        }
#login_form input {
    border: 0;
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM: #ffffff 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    COLOR: #ffffff;
    HEIGHT: 25px;
    font-size: 12pt
}
