{% extends 'base.html' %}

{% block body %}
<br><br><br><br><br><br><br><br><br>
<h1 align="center" >天气查询系统</h1>
<br/>
<form method='POST' action='/content'>
<table align="center">
	<tr>
		<td>&nbsp;<input name='city' type='TEXT' width='60' placeholder="请输入城市名" style="width:250px;height:25px;">&nbsp;<input value='查询' type='SUBMIT' style="background: rgba(255, 255, 255, 0.7);"></td>
	</tr>
</table>
</form>

<form method='POST' action='/content'>
<table align="center">
<th colspan="2">·——————————————————·</th>
<tr><td>&nbsp;&nbsp;&nbsp;</td><td>
  <select name='city' style="width:150px;height:20px; >
  {% for city in the_city_list %}			     
    <OPTION value=安徽>安徽</OPTION>  
    <OPTION value=北京>北京</OPTION>  
    <OPTION value=重庆>重庆</OPTION>  
    <OPTION value=福建>福建</OPTION>  
    <OPTION value=甘肃>甘肃</OPTION>  
    <OPTION value=广东>广东</OPTION>  
    <OPTION value=广西>广西</OPTION>  
    <OPTION value=贵州>贵州</OPTION>  
    <OPTION value=海南>海南</OPTION>  
    <OPTION value=河北>河北</OPTION>  
    <OPTION value=黑龙江>黑龙江</OPTION>  
    <OPTION value=河南>河南</OPTION>  
    <OPTION value=香港>香港</OPTION>  
    <OPTION value=湖北>湖北</OPTION>  
    <OPTION value=湖南>湖南</OPTION>  
    <OPTION value=江苏>江苏</OPTION>  
    <OPTION value=江西>江西</OPTION>  
    <OPTION value=吉林>吉林</OPTION>  
    <OPTION value=辽宁>辽宁</OPTION>  
    <OPTION value=澳门>澳门</OPTION>  
    <OPTION value=内蒙古>内蒙古</OPTION>  
    <OPTION value=宁夏>宁夏</OPTION>  
    <OPTION value=青海>青海</OPTION>  
    <OPTION value=山东>山东</OPTION>  
    <OPTION value=上海>上海</OPTION>  
    <OPTION value=山西>山西</OPTION>  
    <OPTION value=陕西>陕西</OPTION>  
    <OPTION value=四川>四川</OPTION>  
    <OPTION value=台湾>台湾</OPTION>  
    <OPTION value=天津>天津</OPTION>  
    <OPTION value=新疆>新疆</OPTION>  
    <OPTION value=西藏>西藏</OPTION>  
    <OPTION value=云南>云南</OPTION>  
    <OPTION value=浙江>浙江</OPTION>  
  </select>
  
  <input value='查询' type='SUBMIT' style="background: rgba(255, 255, 255, 0.7);" >
</td></tr>
</table>
</form>


{% endblock %}
